/* Remove underline from all links */
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Remove underline from text elements (safety reset) */
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
}

/* Remove focus outline underline (accessibility-safe) */
a:focus {
  outline: none;
}
