
.underline-double::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
}

.underline-double::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 75%;
  height: 3px;
  background: black;
}

/* Floating Animations */
@keyframes floatSlow {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floatMedium {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floatFast {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

.floating-slow {
  animation: floatSlow 6s ease-in-out infinite;
}

.floating-medium {
  animation: floatMedium 4s ease-in-out infinite;
}

.floating-fast {
  animation: floatFast 3s ease-in-out infinite;
}

/* Button Fill Animation */
.fill1 {
  position: relative;
  cursor: pointer;
}

.fill1:before {
  content: "";
  position: absolute;
  background: #FFFFFF;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
  -webkit-transition: top 0.09s ease-in;
  -moz-transition: top 0.09s ease-in;
  -o-transition: top 0.09s ease-in;
  -ms-transition: top 0.09s ease-in;
}

.fill1:hover:before {
  top: 0;
}

.fill1:hover {
  color: #00C951 !important;
}



/* Responsive adjustments */
@media (max-width: 1280px) {
  .underline-double::before {
    bottom: -4px;
    height: 2px;
  }

  .underline-double::after {
    bottom: -10px;
    height: 2px;
  }
}

@media (max-width: 768px) {
  .underline-double::before {
    bottom: -3px;
    height: 2px;
  }

  .underline-double::after {
    bottom: -8px;
    height: 2px;
  }
}

/* fill */
.fill {
  position: relative;
  cursor: pointer;
}

.fill:before {
  content: "";
  position: absolute;
  background: #00C951;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
  -webkit-transition: top 0.09s ease-in;
  -moz-transition: top 0.09s ease-in;
  -o-transition: top 0.09s ease-in;
  -ms-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}

.fill:hover {
  color: whitesmoke !important;
  border: none;
}